.about__anchor {
  margin-top: -32px;       
  height: 32px; 
}

.about__bio {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#dcdfe6;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  color: rgb(102, 78, 96);

  @media all and (min-width: 480px){
     font-size: 22px;
  }
}

.about__img {
  margin-top: 1em;
  width: 175px;
  border-radius: 50%;
}

.about__text-wrapper {
  margin-top: 2em;
  .about__quote {
    font-style: italic;
    font-size: 18px;
  }
  .about__grace {
    text-align: right;
    font-weight: 800;
  }
}

.about__pitch-wrapper {
  font-size: 20px;
  .future-quote {
    font-style: italic;
  }
  .about__pitch-element{
    padding-top: 1em;
    text-align: justify;
  }
}

