.main-contact {
  background-color: #92778b;
  color: #dcdfe6;
  padding: 1.8em;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}

.contact__title {
  font-size: 36px;
  text-align: center;
  padding-bottom: 0.5em;
}
