.header-nav {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.header-nav__list {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #86687E;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;

  a{
    cursor: pointer;
    color: #dcdfe6;
    text-decoration: none;
    background-color: #86687E;
  }
}

.nav__list-item{
  font-size: 18px;
}

.nav-contact {
  margin-right: 1em;
}