.main-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;

  @media all and (min-width: 480px){
    grid-template-columns: 1fr 1fr;
  }
}

.projects__wrapper {
  width: 300px;
  height: 200px;
  background-color: rgba(127, 255, 212, 0.383);
}