.skills__anchor {
  margin-top: -27px;       
  height: 27px; 
}

.main-skills {
  background-color: #8ca8b6;
  color: #dcdfe6;
  padding: 2em 1em 5em;
  min-height: 270px;
  font-family: 'Josefin Slab', serif;
  font-weight: bolder;
  position: relative;
}

.skills__title {
  font-size: 36px;
  text-align: center;
  padding-bottom: 0.5em;
}

.wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
}

.skills__hardskills {
  position: relative;
}

.hardskills-item {
  position: absolute;
  top: 0;
  left: 0;
}

.html, .css, .javascript {
  font-size: 3.4em;
  font-family: 'Cuprum', sans-serif;
  font-weight: 700;
}

.html {
  letter-spacing: -.06em;
  transform: translateX(-2.2em);
}

.css {
  letter-spacing: -.02em;
  transform:
    translateX(0.9em)
    translateY(0.45em)
    rotate(90deg);
}

.sass {
  font-size: 1.2em;
  letter-spacing: -.05em;
  transform:
    translateX(0.4em)
    translateY(1.2em)
    rotate(90deg);
}

.flexbox {
  font-size: 1.2em;
  letter-spacing: .02em;
  transform:
    translateX(0.5em)
    translateY(2.5em)
    rotate(90deg);
}

.grid {
  font-size: 1.2em;
  transform:
    translateX(0.4em)
    translateY(3.7em)
    rotate(90deg);
}

.javascript {
  font-size: 3.2em;
  letter-spacing: -.05em;
  transform:
    translateX(-1.8em)
    translateY(2em);
}

.react {
  font-size: 2.1em;
  transform:
    translateX(-2.7em)
    translateY(2.35em)
}

.npm {
  font-size: 1.4em;
  letter-spacing: .15em;
  transform:
    translateX(-6.3em)
    translateY(4.5em)
    rotate(90deg);
}

.git {
  font-size: 1.4em;
  letter-spacing: .15em;
  transform:
    translateX(-5.2em)
    translateY(2.44em);
}

.agile {
  font-size: 1.4em;
  letter-spacing: .1em;
  transform:
    translateX(-2.8em)
    translateY(2.45em)
}